{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src=""></script>

    
</head>

<body>
    <h1>Seja seu Compromisso</h1>
    <p>Cadastre sua frase coach</p>
    <p>{{mensagem}}</p>
   
    <form action="/" method="POST">
        <!-- Precisa criar esse tang toda vez que criar uma  -->
        {% csrf_token %}
        <label for="">Nome:</label>
        <input type="text" name="nome" id="" required>

        <label for="">Frase:</label>
        <textarea name="frase" id="" cols="30" rows="10"></textarea>

         <label for="">Pessoa que motivo</label>
         <input type="text" name="inspirador" id="" >

        <input type="submit" value="Enviar">
    </form>
</body>
</html>