<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <marquee><h1>Lista de suas frases perfeitas</h1></marquee>
     {% for item in lista_coachs %}

     <h1><a href="lista.html"></a></h1>
    <p><strong>Nome Coach:</strong {{item.nome}}></p>
    <p><strong>Frase:</strong {{item.frase}}></p>
    <p><strong>Inspirador:</strong {{item.inspirador}}></p>

</body> 
</html>